$greyXlight: #F7F7F7;
$greylight: #DADCE0;
$greyDark: #797979;
$greyXdark: #191A1E;
$alert: #EB5757;
$acid: #F4FFA0;
$green: #71BC8F;
$greenLight: #C8EDD7;
$orange: #EF927B;
$purple: #7371EE;
$purpleLight: #EBE9FF;
