
header {
  border-bottom: 1px solid $greyXdark;
  height: 60px;
  display: flex;
  align-items: center;
}

.header--wrapper {
  width: calc(100% - 16px);
  margin-left: auto;
  margin-right: auto;
}

.header--logo {
  display: flex;

  svg {
    margin-right: 6px;

    &:nth-child(even) {
      margin-top: 2px;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.flex__leftCol {
  width: 100%;

  @include mq($from: desktop) {
    width: 240px;
  }
}

.flex__mainCol {
  width: 100%;
  @include mq($from: desktop) {
    width: calc(60% - 120px);
  }
  img {
    width: 100%;
    height: auto;
  }

  .page--banner & {
    display: flex;
  }

  .page--guides & {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.flex__rightCol {
  width: 100%;
  @include mq($from: desktop) {
    width: calc(40% - 120px);
  }

  svg {
    width: 60%;
    height: auto;
  }
}

.page--title {
  background-color: $greyXlight;
  padding: calc(#{$spacer} * 3) 0;
}

.page--guides {
  padding: calc(#{$spacer} * 3) 0;

  h1, p {
    color: #fff;
    margin: 0;
  }
}

.guide {
  &--Red {
    background-color: $alert;
  }
  &--Orange {
    background-color: $orange;
  }
  &--Purple {
    background-color: $purple;
  }
  &--Green {
    background-color: $green;
  }
}
