header {
  border-bottom: 1px solid $greyXdark;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $acid;
  justify-content: space-between;
}

.header--wrapper {
  padding-left: calc(#{$spacer} * 2);
}

.header--logo, .footer--logo {
  display: flex;

  svg {
    margin-right: 6px;

    &:nth-child(even) {
      margin-top: 2px;
    }
  }
}

.header--nav {
  height: 100%;

  ul {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;

    li {
      font-size: 0.5em;
      width: max-content;
      padding: 0 $spacer;
      height: 100%;
      display: flex;
      border-left: 1px solid #000;

      span {
        align-self: center;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.veggie--burger {
  background-color: $green;
  flex-direction: column;
  justify-content: center;

  span {
    height: 1px;
    width: 40px;
    background-color: #000;

    &:nth-child(even) {
      margin: $spacer 0;
    }
  }
}

.footer--logo {
  svg {
    path {
      fill: #fff;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.flex__leftCol {
  width: 100%;

  @include mq($from: tablet) {
    width: 100%;
  }

  @include mq($from: desktop) {
    width: 240px;
  }
}

.flex__mainCol {
  width: 100%;
  padding: 0 calc(#{$spacer} * 2);
  box-sizing: border-box;

  @include mq($from: tablet) {
    width: calc(60%);
  }

  @include mq($from: desktop) {
    width: calc(60% - 120px);
    padding: unset;
  }
  img {
    width: 100%;
    height: auto;
  }

  .page--banner & {
    display: flex;
  }

  .page--guides & {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  //for responsive YouTube videos

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.flex__rightCol {
  width: 100%;
  padding: 0 calc(#{$spacer} * 2);
  box-sizing: border-box;

  @include mq($from: tablet) {
    width: calc(40%);
    padding: unset;
  }

  @include mq($from: desktop) {
    width: calc(40% - 120px);
    padding: unset;
  }

  .inview {
    svg {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
      animation: dash 5s linear forwards;
      opacity: 1;
    }
  }

  svg {
    height: auto;
    width: 100%;
    margin-top: calc(#{$spacer} * 2);
    opacity: 0;
    transition: opacity ease-in-out 0.3s;

    @include mq($from: tablet) {
      width: 60%;
      margin-top: unset;
    }
  }
}

#guideHeader {
  svg {
    @include mq($from: tablet) {
      width: 90%;
      margin-top: unset;
    }
  }
}

.page--title {
  background-color: $greyXlight;
  padding: calc(#{$spacer} * 3) 0;
}

.page--guides {
  padding: calc(#{$spacer} * 3) 0;
  position: relative;
  transition: padding ease-in-out 0.3s;
  transition-delay: 0.2s;
  cursor: pointer;

  .layout--guide & {
    &:hover {
      padding: calc(#{$spacer} * 3) 0;
    }
  }

  &:hover {
    padding: calc(#{$spacer} * 6) 0;

    button {
      background-color: #fff;
      color: $purple;
    }
  }

  h1, p {
    color: #fff;
    margin: 0;
  }

  button {
    margin-top: calc(#{$spacer} * 2);
  }
}

.guide, .header {
  &--Red {
    background-color: $alert;
  }
  &--Orange {
    background-color: $orange;
  }
  &--Purple {
    background-color: $purple;
  }
  &--Green {
    background-color: $green;
  }
}
.header {
  &--Red, &--Orange, &--Purple, &--Green {
    .header--logo svg {
      &:nth-child(even) {
        path {
          fill: #fff;
        }
      }
    }
  }
}


.guide__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.guides__container {
  margin-bottom: calc(#{$spacer} * 9);

  .flex__mainCol {
    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: $spacer;
        padding-left: calc(#{$spacer} * 4);

        &:before {
          display: block;
          content: '';
          width: 20px;
          height: 20px;
          background-color: $greylight;
          margin-right: $spacer;
          border-radius: 50%;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

.page--checklist {
  border-top: 1px solid $greylight;
  border-bottom: 1px solid $greylight;
  padding-top: calc(#{$spacer} * 2);

  li {
    display: flex;
    align-items: center;
    margin-bottom: calc(#{$spacer} * 2);
  }
}

.page__checklist-number {
  background-color: $greylight;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: calc(#{$spacer} * 2);

  @include mq($from: tablet) {
    width: 3.5vh;
    height: 3.5vh;
    font-size: 0.6em;
  }
}

.page__checklist-title {
  font-size: 24px;

  @include mq($from: tablet) {
    font-size: 1em;
  }
}

.section__menu {
  font-size: 16px;
  padding: calc(#{$spacer}*2) calc(#{$spacer}*2);
  position: sticky;
  top: calc(#{$spacer}*9);
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  @include mq($from: desktop) {
    flex-direction: column;
    padding: calc(#{$spacer}*4) calc(#{$spacer}*4);
  }

  &.position-fixed {
    position: fixed;
    //magic number for the fixed position
    max-width: 176px;
  }

  li {
    margin: 0 calc(#{$spacer}/2) calc(#{$spacer}/2) 0;

    &.active > a{
      color: $purple;
    }

    &:after {
      content: '/';
      display: inline-block;
      margin-left: calc(#{$spacer}/2);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    a:hover {
      color: $purple;
    }

    @include mq($from: desktop) {
      &:after {
        display: none;
      }
    }
  }
}

.section__menu-sub {
  margin:$spacer 0 $spacer $spacer;
  display: none;

  li {
    margin:calc(#{$spacer}/2) 0;
  }

  @include mq($from: desktop) {
    display: block;
  }
}

.guides__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    .guides__title-icon {
      background-color: $greylight;
      opacity: 1;
    }
  }
}

.guides__title-icon {
  background-color: transparent;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $greylight;
    opacity: 1;
  }

  svg {
    width: 66%;
    height: auto;
  }
}

footer {
  padding: calc(#{$spacer} * 2) 0;
  background-color: $greyXdark;
}

.footer--wrapper {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}
