html {
  font-size: 2vw;
  font-family: 'abc_favoritbook';
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

//Spacing
$spacer: 8px;

//Offset
$offset: 96px;

//Type

@font-face {
    font-family: 'FavoritWeb';
    src: url('../assets/Favorit-MonoBeta.woff2') format('woff2'),
        url('../assets/Favorit-MonoBeta.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FavoritWeb';
    src: url('../assets/Favorit-Regular.woff2') format('woff2'),
        url('../assets/Favorit-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FavoritWeb';
    src: url('../assets/Favorit-Bold.woff2') format('woff2'),
        url('../assets/Favorit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'abc_favoritbook';
    src: url('../assets/abcfavorit-book-webfont.woff2') format('woff2'),
         url('../assets/abcfavorit-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'abc_favoritbook';
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  margin: 0;

  @include mq($from: tablet) {
    font-size: 2em;
    line-height: 1;
  }
}

h2 {
  font-family: 'FavoritWeb';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 1em;
    line-height: 1;
  }
}

p {
  font-family: 'abc_favoritbook';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}

ul {
  list-style: none;
  padding: 0;
  margin: $spacer 0 calc(#{$spacer} * 4);
}

a {
  color: inherit;
  text-decoration: none;
}

.secondary {
  color: $greyDark;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  padding: calc(#{$spacer} * 2);
  font-family: 'abc_favoritbook';
  font-size: 16px;
}

.toast {
  position: fixed;
  top: 32px;
  left: 50%;
  padding: calc(#{$spacer} * 2);
  transform: translateX(-50%);
  background-color: $purpleLight;
  border: 1px solid $purple;
  z-index: 10000;
  font-size: 16px;
  color: $purple;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out 0.3s;

  &.copied {
    opacity: 1;
  }
}
